networks:
  default:
    name: home_network

services:
  litellm:
    container_name: litellm
    image: ghcr.io/berriai/litellm:main-latest
    restart: always
    ports:
      - 4000:4000
    volumes:
      - ./config:/app/config:ro
    env_file:
      - .env.secret
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - litellm-db

  litellm-db:
    container_name: litellm-db
    image: postgres:17-alpine
    restart: always
    ports:
      - 4001:5432
    env_file:
      - .env.secret
    environment:
      POSTGRES_DB: litellm
    volumes:
      - litellm-db-data:/var/lib/postgresql/data

volumes:
  litellm-db-data:
