networks:
  default:
    name: home_network

services:
  portal:
    container_name: portal
    image: ghcr.io/u7chan/monorepo/portal:latest
    restart: always
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - PORT=3000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
