networks:
  default:
    name: home_network

services:
  portal:
    container_name: portal
    image: ghcr.io/u7chan/monorepo/portal:latest
    restart: unless-stopped # 手動停止時は再起動しない
    ports:
      - 3000:3000
    environment:
      - NODE_ENV=production
      - PORT=3000
    group_add:
      - "987" # ホストのdockerグループID (stat -c '%g' /var/run/docker.sock で確認)
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro # 読み取り専用
