# Define secret variables here.

## litellm
DATABASE_URL=postgresql://postgres:postgres@litellm-db:5432/litellm
LITELLM_MASTER_KEY=sk-1234
LITELLM_SALT_KEY=sk-XXXXXXXX

## litellm-db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres